---
---

@import "{{ site.theme }}";

/* Wrapper */
.wrapper {
  width:1060px;
}

/* Increase the size of the sidebar */
header {
  width:200px;
}

a:link {
  color:#0000C3;
  text-decoration:underline;
}

a:visited {
  color:#551A8B;
  text-decoration:none;
}
